Source: gnokii
Section: comm
Priority: optional
Maintainer: Bradley Marshall <brad@humbug.org.au>
Build-Depends: debhelper (>> 3.0.0), xlibs-dev, xutils, libglib1.2-dev, libgtk1.2-dev, gettext, flex, libmysqlclient10-dev, postgresql-dev, autotools-dev (>=20020621)
Standards-Version: 3.6.1.0

Package: gnokii
Architecture: any
Depends: ${shlibs:Depends}, liblockfile1, timeout
Conflicts: smstools
Description: Datasuite for the mobile phones (console & X)
 Gnokii is a suite of programs linked against a backend library that allows
 communication with the phones. It current supports the most mobile phones,
 all AT capable mobiles as well as Symbian phones.

Package: gnokii-smsd
Architecture: any
Depends: ${shlibs:Depends}, gnokii (= ${Source-Version})
Description: SMS Daemon for the mobile phones
 Gnokii is a suite of programs linked against a backend library that allows
 communication with the phones. It current supports the most mobile phones,
 all AT capable mobiles as well as Symbian phones.
 .
 The SMSD (SMS daemon) handles automated sending and receiving of short messages
 using an SQL backend. It is designed to use modules (plugins) to work with the
 SQL server, and shares Gnokii's runtime configuration and libraries.
 .
 This package contains the actual daemon. You will need to install the
 appropriate module packages to add support for a particular RDBMS.

Package: gnokii-smsd-mysql
Architecture: any
Depends: ${shlibs:Depends}, gnokii-smsd (= ${Source-Version})
Description: SMSD plugin for the MySQL RDBMS
 Gnokii is a suite of programs linked against a backend library that allows
 communication with the phones. It current supports the most mobile phones,
 all AT capable mobiles as well as Symbian phones.
 .
 The SMSD (SMS daemon) handles automated sending and receiving of short messages
 using an SQL or a file backend. It is designed to use modules (plugins) to work
 with the SQL server, and shares Gnokii's runtime configuration and libraries.
 .
 This package provides support for the MySQL RDBMS.

Package: gnokii-smsd-pgsql
Architecture: any
Depends: ${shlibs:Depends}, gnokii-smsd (= ${Source-Version})
Description: SMSD plugin for the PostgreSQL RDBMS
 Gnokii is a suite of programs linked against a backend library that allows
 communication with the phones. It current supports the most mobile phones,
 all AT capable mobiles as well as Symbian phones.
 .
 The SMSD (SMS daemon) handles automated sending and receiving of short messages
 using an SQL or a file backend. It is designed to use modules (plugins) to work
 with the SQL server, and shares Gnokii's runtime configuration and libraries.
 .
 This package provides support for the PostgreSQL RDBMS.

Package: gnokii-smsd-file
Architecture: any
Depends: ${shlibs:Depends}, gnokii-smsd (= ${Source-Version})
Description: SMSD plugin for the plain files
 Gnokii is a suite of programs linked against a backend library that allows
 communication with the phones. It current supports the most mobile phones,
 all AT capable mobiles as well as Symbian phones.
 .
 The SMSD (SMS daemon) handles automated sending and receiving of short messages
 using an SQL or a file backend. It is designed to use modules (plugins) to work
 with the SQL server, and shares Gnokii's runtime configuration and libraries.
 .
 This package provides support for the plain files.
