Source: gnokii
Section: comm
Priority: optional
Maintainer: Pawel Kot <gnokii@gmail.com>
Build-Depends: debhelper (>> 3.0.0), libxpm-dev, libxt-dev, xutils, libglib2.0-dev, libgtk2.0-dev, gettext, flex, libmysqlclient-dev, postgresql-dev, autotools-dev (>=20020621)
Standards-Version: 3.6.1.0

Package: gnokii
Architecture: any
Pre-Depends: adduser
Depends: ${shlibs:Depends}
Conflicts: smstools
Description: Datasuite for the mobile phones (console)
 Gnokii is a suite of programs linked against a backend library that allows
 communication with the phones. It current supports the most mobile phones,
 all AT capable mobiles as well as Symbian phones.

Package: gnokii-smsd
Architecture: any
Depends: ${shlibs:Depends}, libgnokii2 (= ${Source-Version})
Description: SMS Daemon for the mobile phones
 Gnokii is a suite of programs linked against a backend library that allows
 communication with the phones. It current supports the most mobile phones,
 all AT capable mobiles as well as Symbian phones.
 .
 The SMSD (SMS daemon) handles automated sending and receiving of short messages
 using an SQL backend. It is designed to use modules (plugins) to work with the
 SQL server, and shares Gnokii's runtime configuration and libraries.
 .
 This package contains the actual daemon and the file based backend.
 You will need to install the appropriate module packages to add support
 for a particular RDBMS.

Package: gnokii-smsd-mysql
Architecture: any
Depends: gnokii-smsd (= ${Source-Version}), libmysqlclient
Description: SMSD plugin for the MySQL RDBMS
 Gnokii is a suite of programs linked against a backend library that allows
 communication with the phones. It current supports the most mobile phones,
 all AT capable mobiles as well as Symbian phones.
 .
 The SMSD (SMS daemon) handles automated sending and receiving of short messages
 using an SQL or a file backend. It is designed to use modules (plugins) to work
 with the SQL server, and shares Gnokii's runtime configuration and libraries.
 .
 This package provides support for the MySQL RDBMS.

Package: gnokii-smsd-pgsql
Architecture: any
Depends: gnokii-smsd (= ${Source-Version}), postgresql-client
Description: SMSD plugin for the PostgreSQL RDBMS
 Gnokii is a suite of programs linked against a backend library that allows
 communication with the phones. It current supports the most mobile phones,
 all AT capable mobiles as well as Symbian phones.
 .
 The SMSD (SMS daemon) handles automated sending and receiving of short messages
 using an SQL or a file backend. It is designed to use modules (plugins) to work
 with the SQL server, and shares Gnokii's runtime configuration and libraries.
 .
 This package provides support for the PostgreSQL RDBMS.

Package: libgnokii2
Architecture: any
Depends: ${shlibs:Depends}
Replaces: gnokii (<< 0.6.1-1)
Description: Gnokii library
 Gnokii is a suite of programs linked against a backend library that allows
 communication with the phones. It current supports the most mobile phones,
 all AT capable mobiles as well as Symbian phones.
 .
 This package provides the library used by gnokii.

Package: libgnokii2-dev
Architecture: any
Depends: libgnokii2 (= ${Source-Version})
Replaces: gnokii (<< 0.6.1-1), libgnokii2 (<< 0.6.8-0.1)
Description: Gnokii library
 Gnokii is a suite of programs linked against a backend library that allows
 communication with the phones. It current supports the most mobile phones,
 all AT capable mobiles as well as Symbian phones.
 .
 This package provides the devel headers used by gnokii.

Package: xgnokii
Architecture: any
Depends: ${shlibs:Depends}
Description: Datasuite for the mobile phones (X11/GTK2)
 Xgnokii is a suite of programs linked against a backend library that allows
 communication with the phones. It current supports the most mobile phones,
 all AT capable mobiles as well as Symbian phones.
