#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=3

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	# Update config.{sub,guess} before running configure
	-test -r /usr/share/misc/config.sub && \
		cp -f /usr/share/misc/config.sub config/config.sub
	-test -r /usr/share/misc/config.guess && \
		cp -f /usr/share/misc/config.guess config/config.guess
	./configure --prefix=/usr --with-xgnokiidir=/usr --with-x --enable-nls --with-bluetooth --mandir=/usr/share/man

	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir

	# Compile the main package.
	$(MAKE)
	# Compile the smsd subpackage.
	cd smsd &&\
	$(MAKE) &&\
	$(MAKE) libpq.la &&\
	$(MAKE) libmysql.la
	#/usr/bin/docbook-to-man debian/gnokii.sgml > gnokii.1

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	-rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	-cd smsd &&\
	$(MAKE) clean
	-$(MAKE) distclean

	-test -r /usr/share/misc/config.sub && \
		cp -f /usr/share/misc/config.sub config/config.sub
	-test -r /usr/share/misc/config.guess && \
		cp -f /usr/share/misc/config.guess config/config.guess
	rm -f po/*.gmo

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Install the main package into debian/gnokii
	$(MAKE) install DESTDIR=$(CURDIR)/debian/gnokii/
	mkdir -p $(CURDIR)/debian/gnokii/usr/lib/gnokii
	mv $(CURDIR)/debian/gnokii/usr/bin/gnokii $(CURDIR)/debian/gnokii/usr/lib/gnokii/gnokii
	install -m 755 $(CURDIR)/debian/gnokii.wrapper $(CURDIR)/debian/gnokii/usr/bin/gnokii
	install -m 755 $(CURDIR)/utils/sendsms $(CURDIR)/debian/gnokii/usr/bin/sendsms

	# Install the SMSD subpackage and modules into debian/gnokii-smsd and debian/gnokii-smsd-*
	cd smsd &&\
	$(MAKE) install DESTDIR=$(CURDIR)/debian/gnokii-smsd/ bindir=usr/sbin
	mkdir -p $(CURDIR)/debian/gnokii-smsd-mysql/usr/share/smsd
	mkdir -p $(CURDIR)/debian/gnokii-smsd-pgsql/usr/share/smsd
	mv $(CURDIR)/debian/gnokii-smsd/usr/lib/smsd/libmysql.so $(CURDIR)/debian/gnokii-smsd-mysql/usr/share/smsd
	mv $(CURDIR)/debian/gnokii-smsd/usr/lib/smsd/libpq.so $(CURDIR)/debian/gnokii-smsd-pgsql/usr/share/smsd
	#rm -fR $(CURDIR)/debian/gnokii-smsd/usr/share
	rm -fR $(CURDIR)/debian/gnokii-smsd/usr/lib

	mkdir -p $(CURDIR)/debian/gnokii/etc
	sed 's#/usr/local/sbin/#/usr/sbin/#' < $(CURDIR)/Docs/sample/gnokiirc > $(CURDIR)/debian/gnokii/etc/gnokiirc

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	dh_installdocs
	dh_installdocs $(CURDIR)/Docs
	# Clean up unneeded stuff from Docs
	rm -fR $(CURDIR)/debian/gnokii/usr/share/doc/gnokii/Docs/{Makefile,man,packaging-howto}

#	Lintian starts barking about duplicate license files and so forth
#	Let's rm these files then ...
	find $(CURDIR)/debian -type f -name "COPYING" -exec rm {} \;
	find $(CURDIR)/debian -type f -name "INSTALL" -exec rm {} \;

	dh_installexamples
	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
	dh_installcron
	dh_installman -p gnokii $(CURDIR)/Docs/man/gnokii.1 $(CURDIR)/Docs/man/xgnokii.1x $(CURDIR)/Docs/man/todologo.1 $(CURDIR)/Docs/man/mgnokiidev.8 $(CURDIR)/Docs/man/gnokiid.8
	dh_installinfo
	dh_installchangelogs -p gnokii ChangeLog
	dh_installchangelogs -p gnokii-smsd smsd/ChangeLog
	dh_installchangelogs -p gnokii-smsd-pgsql -p gnokii-smsd-mysql
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
