[Desktop Entry]
Version=1.0
Name=Xgnokii
GenericName=Mobile Phone Suite
GenericName[pl]=Menedżer telefonu komórkowego
Comment=Manage your mobile phone
Comment[pl]=Zarządzaj swoim telefonem komórkowym
Icon=cellphone
Exec=xgnokii
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Utility;TelephonyTools;Calendar;ContactManagement;Office;GTK;
